body{
    background-color: rgb(151, 234, 255);
}
.img {
    width : 150px;
    height: 140px;
}

.detalii{
    border-radius: 2px;
    background-color: rgb(245, 139, 139);
    width: 70px;
    height: 30px;
}